$webResourceManager.requireResource("openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources")
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>WP7 - Qt trial</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    input[type=number] {
        width: 100px;
    }

    input[type=text] {
        width: 150px;
    }
</style>

<body>

<div class="topnav">
    <a href="https://openreq.eu/"><img alt="or_logo"
                                       src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/or_icon.png"
                                       width="40px" height="40px"/></a>
    <a target="_blank" href="https://github.com/OpenReqEU/issuelinkmap-jira-plugin/issues">Report a Bug</a>
    <a href="./LinkMapWebworkAction.jspa">Return to Info Page</a>

</div>

<div class="container-fluid" style="padding-left: 50px; padding-top: 30px">
    <div class="row">
        <p>
            This is a prototype of the <a href="https://openreq.eu/"> OpenReq project</a>, please give feedback through the <a target="_blank" href="https://forum.qt.io/category/60/openreq-issue-link-map-tool"> Qt Forum </a> or this <a target="_blank" href="https://forms.gle/EG6fd6QyCMXt7DEW9"> anonymous feedback form</a>.
        </p>
    </div>
</div>

<div class="container" style="padding-left: 50px; padding-top: 50px">
    <div class="row">
        <div class="col-8">
            <h3>Sorry, I could not find the page you were looking for.</h3>
            <h5>Searched issue key </h5>
            <h5 id="issue_placeholder"></h5>
            <h5> does not exist or access to it is limited, please check that you wrote the issue key correctly.</h5>
            <h3>Thank you.</h3>
            <a href="./LinkMapWebworkAction.jspa" class="button button-effect">&#171 Go to Info Page</a>
        </div>
        <div class="col-4">
<pre>
 ,---.
( @ @ )
 ).-.(
'/|||\`
  '|`
</pre>

        </div>
    </div>
</div>
</body>
</html>