$webResourceManager.requireResource("openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources")
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>IssueLinkMap</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    input[type=number] {
        width: 100px;
    }

    input[type=text] {
        width: 150px;
    }
</style>

<body>

<div class="topnav">
    <div class="link-container">
        <a target="_blank" href="https://openreq.eu/" style="padding: 0"><img alt="or_logo"
                                                                              src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/or_icon.png"
                                                                              width="40px" height="40px"/></a>
    ##    <a target="_blank" href="https://bugreports.qt.io/browse/">Qt's Jira</a>
    ##    <%--<a target="_blank" href="https://forum.qt.io/">Qt Forum</a>--%>
    ##    <%--<a target="_blank" href="https://forms.gle/GQQhym7obLEss3bCA">Feedback</a>--%>
        <a class="button-effect" href="./LinkMapWebworkAction.jspa">Return to Info Page</a>
        <a target="_blank" href="https://github.com/OpenReqEU/issuelinkmap-jira-plugin/issues">Report a Bug</a>
    </div>
    <div class="text-container">
        <strong>This is a prototype of the <a href="https://openreq.eu/"> OpenReq project</a>, please give feedback
            through
            the <a target="_blank" href="https://forum.qt.io/category/60/openreq-issue-link-map-tool"> Qt Forum </a> or
            this <a target="_blank" href="https://forms.gle/EG6fd6QyCMXt7DEW9"> anonymous feedback form</a>.</strong>
    </div>
    <div class="search-container">
        <form action="./IssueSearchWebworkAction.jspa" method="get" id="search-id" name="search">
            <button type="submit"><em class="fa fa-search" style="color: #deebff;"></em></button>
            <input type="text" name="issue" id="issueInput" required="required" placeholder="Issue Key..."
                   style="margin-right: 20px">
            <input type="number" name="depth" id="depthInput" min="1" max="5" placeholder="Depth..."
                   style="margin-right: 20px">
            <div class="loader" id="loader"></div>
        </form>
    </div>
</div>

<div class="container" style="padding-left: 50px; padding-top: 50px">
    <div class="row">
        <div class="col-8">
            <h3>Sorry, I could not find the page you were looking for.</h3>
            <h5 id="error_placeholder"></h5>
            <h3>Thank you.</h3>
            <a href="./LinkMapWebworkAction.jspa" class="button button-effect">&#171 Go to Info Page</a>
        </div>
        <div class="col-4">
<pre>
 ,---.
( @ @ )
 ).-.(
'/|||\`
  '|`
</pre>

        </div>
    </div>
</div>
</body>
</html>