$webResourceManager.requireResource("openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources")
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=ISO-8859-1">
    <title>WP7 - Qt Trial</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
</head>

<body>
<div class="topnav">
    <a target="_blank" href="https://openreq.eu/" style="padding: 0"><img alt="or_logo"
                                                                          src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/or_icon.png"
                                                                          width="40px" height="40px"/></a>
##    <a target="_blank" href="https://bugreports.qt.io/browse/">Qt's Jira</a>

    <a target="_blank" href="https://github.com/OpenReqEU/issuelinkmap-jira-plugin/issues">Report a Bug</a>
    <p style="float: top;">Version 1.1.1</p>

</div>


<div class="container" style="padding-top: 30px">
    <div class="row">
        <h1>WP7 - Qt Trial</h1>
    </div>

    <form action="./IssueSearchWebworkAction.jspa" method="get" id="search-id" style="display:inline-block;">
        <fieldset>
            <div class="row">
                <div class="col-4">
                    <h5>Issue Key(s):</h5>
                    <input type="text" name="issue" id="issue" required="required" width="200px"><br>
                    <i>
                        <small>Search for an issue key.<br>
                        </small>
                    </i>
                </div>

                <div class="col-4">
                    <h5>Depth:</h5>
                    <input type="number" name="depth" id="layerDepth" min="1" max="5" width="100px"><br>
                    <i>
                        <small>Enter a number between 1 and 5.<br>
                        </small>
                    </i>
                </div>


                <div class="col-2">
                    <br>

                    <input type="submit"
                           class="button search button-effect"
                           value="Search">
                </div>

                <div class="col-2">
                    <br>
                    <div class="loader" id="loader"></div>
                </div>
            </div>
        </fieldset>
    </form>


    <br>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Info</h3>
                <p class="card-text">This prototype visualizes the link between issues in Qt's public Jira, it also
                    offers a feature to find missing links bewteen issues in Qt Jira and a feature to check the
                    consistency of a
                    release (fix version).<br>
                    Typing in an issue key from <a
                            href="https://bugreports.qt.io/secure/BrowseProjects.jspa?selectedCategory=all&selectedProjectType=software">Qt's
                        public JIRA</a> can show you its direct and indirect links to other issues.
                    If you select an issue in the visualisation, you will see some issue information on the right
                    side of the graph as well as a button which will redirect you to the JIRA page of that issue.
                </p>
                <h5 class="card-title">Filtering</h5>
                <p class="card-text">The visualized issues can be filtered depending on their status, type and priority.
                    Currently, the default filter does not show issues which are already closed.
                    Thus, some nodes might be orphaned with not appareant connection to the searched issue key. </p>
                <h5 class="card-title">Issue Key</h5>
                <p class="card-text">You can type in a single issue (f.e. <i>QTWB-30</i>).
                    The service will then look up the corresponding issue in University of Helsinki's service milla and
                    get the information about links and issues.</p>
                <h5 class="card-title">Depth</h5>
                <p class="card-text">This service can show you direct (depth 1) and indirect links (depth 2-5).
                    Depth 2 are the links of issues that are directly connected to the searched issue, depth 3 are the
                    links of issues of depth 2 and so on, up until depth 5.
                    If you do not specify a depth the default value is 1.
                    While viewing the issue link map you can switch between the different depths.
                </p>
                <h5 class="card-title">Link Detection</h5>
                <p class="card-text">Use the link detection to find issues which might be related to the currently
                    selected issue. Attention: The accepted and rejected links are <strong>not</strong> automatically
                    transfered to the Jira database.</p>
                <h5 class="card-title">Consistency Checker</h5>
                <p class="card-text">The Consistency Checker verifies the viability of the release plan regarding the
                    issue link map. For example if a feature is required by another one, it is not assigned to later
                    release.</p>
                <h4 class="card-title">We appreciate your feedback!</h4>
                <p class="card-text">

                    You can either leave a comment in the <a target="_blank"
                                                             href="https://forum.qt.io/category/60/openreq-issue-link-map-tool">Qt
                    Forum</a> or give feedback anonymously in this
                    <a target="_blank" href="https://forms.gle/EG6fd6QyCMXt7DEW9">form</a>.<br>
                    Click <a target="_blank" href="https://github.com/OpenReqEU/issuelinkmap-jira-plugin/issues">here</a> if you would
                    like to report a bug.
                    <br>
                    Click <a target="_blank" href="https://github.com/OpenReqEU/issuelinkmap-jira-plugin">here</a> if you would like to
                    contribute.
                </p>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $('#search-id').submit(function ()
    {
        $('#loader').show();
    });
</script>
</body>
</html>