##<%--
##Created by IntelliJ IDEA.
##User: claramarielueders
##Date: 15.06.18
##Time: 16:25
##To change this template use File | Settings | File Templates.
##--%>
##<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1" %>
##<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
$webResourceManager.requireResource(
    "openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources")
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
##    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146396443-1"></script>
##    <script>
##        window.dataLayer = window.dataLayer || [];
##        function gtag() {
##            dataLayer.push(arguments);
##        }
##        gtag('js', new Date());
##        gtag('config', 'UA-146396443-1');
##    </script>

    <title>IssueLinkMap</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #issueLinkMap {
            width: 100%;
            height: 100%;
        }

        input[type=number] {
            width: 100px;
        }

        input[type=text] {
            width: 150px;
        }
    </style>
</head>
<body>


##<%--This is the navigation bar located at the top, it contains a link to the project website and a search box--%>
<div class="topnav">
    <div class="link-container">
        <a target="_blank" href="https://openreq.eu/" style="padding: 0"><img alt="or_logo"
                                                                              src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/or_icon.png"
                                                                              width="40px" height="40px"/></a>
    ##    <a target="_blank" href="https://bugreports.qt.io/browse/">Qt's Jira</a>
    ##    <%--<a target="_blank" href="https://forum.qt.io/">Qt Forum</a>--%>
    ##    <%--<a target="_blank" href="https://forms.gle/GQQhym7obLEss3bCA">Feedback</a>--%>
        <a class="button-effect" href="./LinkMapWebworkAction.jspa">Return to Info Page</a>
        <a target="_blank" href="https://github.com/OpenReqEU/issuelinkmap-jira-plugin/issues">Report a Bug</a>
    </div>
    <div class="text-container">
        <strong>This is a prototype of the <a href="https://openreq.eu/"> OpenReq project</a>, please give feedback
            through
            the <a target="_blank" href="https://forum.qt.io/category/60/openreq-issue-link-map-tool"> Qt Forum </a> or
            this <a target="_blank" href="https://forms.gle/EG6fd6QyCMXt7DEW9"> anonymous feedback form</a>.</strong>
    </div>
    <div class="search-container">
        <form action="./IssueSearchWebworkAction.jspa" method="get" id="search-id" name="search">
            <button type="submit"><em class="fa fa-search" style="color: #deebff;"></em></button>
            <input type="text" name="issue" id="issueInput" required="required" placeholder="Issue Key..."
                   style="margin-right: 20px">
            <input type="number" name="depth" id="depthInput" min="1" max="5" placeholder="Depth..."
                   style="margin-right: 20px">
            <div class="loader" id="loader"></div>
        </form>
    </div>
</div>

<div class="container-fluid" style="padding-left: 50px; padding-top: 30px">

## Header
    <div class="row">
        <div class="col-8">
            <div class="row">
                <h2 id="issue-headline">Issue Links of </h2>
            </div>

        ## Manipulation of network
            <div class="row">
                <div class="col-6">
                ## Depth buttons
                    <button class="button layer button-effect" id="depth-1-btn"
                            style="margin-left: 2px;">Depth 1
                    </button>
                    <button class="button layer button-effect" id="depth-2-btn"
                            style="margin-left: 2px;">Depth 2
                    </button>
                    <button class="button layer button-effect" id="depth-3-btn"
                            style="margin-left: 2px;">Depth 3
                    </button>
                    <button class="button layer button-effect" id="depth-4-btn"
                            style="margin-left: 2px;">Depth 4
                    </button>
                    <button class="button layer button-effect" id="depth-5-btn"
                            style="margin-left: 2px;">Depth 5
                    </button>
                </div>
                <div class="col-6">
                    <div class="filterOptions" id="filter-tab" style="float: right">

                        <div class="dropdown">
                            <button class="dropbtn">Type</button>
                            <div class="dropdown-content">
                                <span>
                                    <label>
                                        <input name="Type" type="checkbox" checked="checked" value="task"/>
                                        <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/task.png"
                                             width="20" height="20" alt="task"/> Task
                                    </label>
                                </span>
                                <span>
                                    <label>
                                        <input name="Type" type="checkbox" checked="checked" value="bug"/>
                                        <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/bug.png"
                                             width="20" height="20" alt="bug"/> Bug
                                    </label>
                        </span>
                                <span>
                            <label>
                                <input name="Type" type="checkbox" checked="checked" value="issue"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/suggestion.png"
                                     width="20" height="20" alt="suggestion"/> Issue
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Type" type="checkbox" checked="checked" value="epic"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/epic.png"
                                     width="20" height="20" alt="epic"/> Epic
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Type" type="checkbox" checked="checked" value="user_story"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/user-story.png"
                                     width="20" height="20" alt="user-story"/> User Story
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Type" type="checkbox" checked="checked" value="suggestion"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/suggestion.png"
                                     width="20" height="20" alt="suggestion"/> Suggestion
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Type" type="checkbox" checked="checked" value="not specified"/>
                                not specified
                            </label>
                        </span>
                                <br>
                                <span>
                            <label>
                                <input id="type-toggle" name="Type" type="checkbox" checked="checked"/>
                                <strong> Toggle All Types </strong>
                            </label>
                        </span>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="dropbtn">Status</button>
                            <div class="dropdown-content">
                        <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" id="todos-toggle">
                                <strong>To-Do:</strong>
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Open"/>
                                Open
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Reported"/>
                                Reported
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Accepted"/>
                                Accepted
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Reopened"/>
                                Reopened
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="To Do"/>
                                To Do
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Blocked"/>
                                Blocked
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Need More Info"/>
                                Need More Info
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Waiting 3rd party"/>
                                Waiting 3rd party
                            </label>
                        </span>
                                <span style="color: #ffd351">
                            <label>
                                <input name="ProgStatus" type="checkbox" checked="checked" value="In Progress">
                                <strong>In Progress</strong>
                            </label>
                        </span>
                                <br>

                                <span style="color: #14882c">
                            <label>
                                <input name="DoneStatus" type="checkbox" id="done-toggle">
                                <strong>Done:</strong>
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="DoneStatus" type="checkbox" value="Closed"/>
                                Closed
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="DoneStatus" type="checkbox" value="Done"/>
                                Done
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="DoneStatus" type="checkbox" value="Rejected"/>
                                Rejected
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="DoneStatus" type="checkbox" value="Resolved"/>
                                Resolved
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="DoneStatus" type="checkbox" value="Withdrawn"/>
                                Withdrawn
                            </label>
                        </span>
                                <br>
                                <span>
                            <label>
                                <input name="Status" type="checkbox" checked="checked" value="confidential"/>
                                Confidential
                            </label>
                        </span>
                                <br>
                                <span>
                            <label>
                                <input id="all-toggle" type="checkbox" checked="checked"/>
                                <strong> Toggle All Statuses </strong>
                            </label>
                        </span>
                                <br>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="dropbtn">Priority</button>
                            <div class="dropdown-content">

                        <span>
                            <label>
                                <input name="Priority" type="checkbox" checked="checked" value="0"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/0.png"
                                     width="20" height="20" alt="P0: Blocker"/>P0: Blocker
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Priority" type="checkbox" checked="checked" value="1"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/1.png"
                                     width="20" height="20" alt="P1: Critical"/>P1: Critical
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Priority" type="checkbox" checked="checked" value="2"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/2.png"
                                     width="20" height="20" alt="P2: Important"/>P2: Important
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Priority" type="checkbox" checked="checked" value="3"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/3.png"
                                     width="20" height="20" alt="P3: Somewhat important"/>P3: Somewhat important
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Priority" type="checkbox" checked="checked" value="4"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/4.png"
                                     width="20" height="20" alt="P4: Low"/>P4: Low
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Priority" type="checkbox" checked="checked" value="5"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/5.png"
                                     width="20" height="20" alt="P5: Not important"/>P5: Not important
                            </label>
                        </span>
                                <span>
                            <label>
                                <input name="Priority" type="checkbox" checked="checked" value="7"/>
                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/7.png"
                                     width="20" height="20" alt="Not evaluated"/>Not evaluated
                            </label>
                        </span>
                                <br>
                                <span>
                            <label>
                                <input id="prio-toggle" name="Priority" type="checkbox" checked="checked"/>
                                <strong> Toggle All Priorities </strong>
                            </label>
                        </span>
                                <br>
                            </div>
                        </div>

                        <input id="filter-search" type="button" class="button search button-effect"
                               value="Apply filter"/>
                    </div>
                    <p id="filterOptions"></p>
                </div>
            </div>
            <div class="row">
            ## Issue Link Map
                <div class="card" id="issueLinkMap"></div>
                <br>
            </div>
        </div>
    ## Information
        <div class="col-4">

        ## Legend
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Legend</h5>
                    <p class="card-text">
                    <div class="box blue" style="display: inline-block;">
                        To-Do
                    </div>
                    <div class="box red" style="display: inline-block;">
                        Stuck
                    </div>
                    <div class="box yellow" style="display: inline-block;">
                        In Progress
                    </div>
                    <div class="box green" style="display: inline-block;">
                        Done
                    </div>
                    (filtered out on default)
                    <div class="box grey" style="display: inline-block;">
                        not specified
                    </div>
                    </p>
                </div>
            </div>
        ## Information buttons

            <ul class="nav nav-tabs nav-fill mb-3" id="info-nav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info-box" role="tab"
                       aria-controls="info-tab" aria-selected="true">Info
                    </a>
                    <span class="tooltiptext">The Info tab contains some of the properties of the corresponding view issue page in Jira.</span>
                </li>
            ##                <%--<li class="nav-item">--%>
            ##                <%--<a class="nav-link" id="list-tab" data-toggle="tab" href="#list-box" role="tab"--%>
            ##                    <%--aria-controls="list-tab" aria-selected="true" onclick="listTab();">List--%>
            ##                    <%--</a>--%>
            ##                <%--</li>--%>
                <li class="nav-item">
                    <a class="nav-link" id="sd-tab" data-toggle="tab" href="#sd-box" role="tab"
                       aria-controls="sd-tab" aria-selected="false">Link Detection
                    </a>
                    <span class="tooltiptext">The Link Detection service finds similar or related items based on the textual fields. The limit is set to 5, so after accepting or rejecting recommended links, there might be more, although with a lower score. The accepted and rejected links are NOT written to Jira.</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cc-tab" data-toggle="tab" href="#cc-box" role="tab"
                       aria-controls="cc-tab" aria-selected="false">Consistency Checker
                    </a>
                    <span class="tooltiptext">The Consistency Checker verifies the viability of the release plan regarding the issue link map, e.g. if a feature is required by another one, it is not assigned to later release. The Consistency Checker checks consistency always to depth 5. Currently links between projects are ignored by the Consistency Checker.</span>
                </li>
            ##                <li class="nav-item">
            ##                    <a class="nav-link" id="filter-tab" data-toggle="tab" href="#filter-box" role="tab"
            ##                       aria-controls="filter-tab" aria-selected="false">Node Filter
            ##                    </a>
            ##                    <span class="tooltiptext">The Node Filter tab contains the properties to filter the issues by, these are status, type and priority.</span>
            ##                </li>
            </ul>
        ##            <%--Information box--%>
            <div class="tab-content" id="tabs-tabContent">
                <div class="tab-pane fade show active" id="info-box" role="tabpanel"
                     aria-labelledby="info-tab">
                    <h5 style="color: #0052cc" id="infoBoxHeading"></h5>
                    <table style="border-collapse: collapse; text-align-all:left" id="infoTable">
                        <tr>
                            <td><strong>Summary</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueSummary"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueStatus"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Type</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueType"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Priority</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssuePrio"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Resolution</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueResolution"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Component</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueComponent"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Label</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueLabel"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Version</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueVersion"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Fix Version</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueFix"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Platform(s)</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssuePlatform"></p></td>
                        </tr>
                        <tr>
                            <td><strong>Environment</strong></td>
                            <td></td>
                            <td><p id="infoBoxIssueEnv"></p></td>
                        </tr>
                    </table>
                    <p id="infoOther"></p>
                    <br>
                    <div id="infoBoxIssueLink"></div>
                    <br>
                ##                    <%--<div id="infoBoxIssueLinkTestJIRA"></div>--%>
                </div>
            ##                <%--<div class="tab-pane fade show" id="list-box" role="tabpanel"--%>
            ##                <%--aria-labelledby="list-tab">--%>
            ##                <%--<h5>Issue List</h5>--%>
            ##                <%--<p id="IssuesList"></p>--%>
            ##                <%--</div>--%>
                <div class="tab-pane fade" id="sd-box" role="tabpanel" aria-labelledby="sd-tab">
                    <p id="ddResult"></p>
                    <p id="ddPending"></p>
                </div>

                <div class="tab-pane fade" id="cc-box" role="tabpanel" aria-labelledby="cc-tab">
                    <div class="row">
                        <div class="col-8">
                            <div id="ccResult"></div>
                        </div>

                        <div class="col-4">
                            <button class='button button-effect' onclick='getInconsistencies()'
                                    id='ccInconsistencisBtn'
                                    style="display: none;">Get inconsistencies
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <button class="accordion" id="ccRelIncButton" style="display: none">Inconsistent releases
                        </button>
                        <div class="panel"><p id="ccRelInc" style="display: none"></p></div>
                    </div>
                    <div class="row">
                        <button class="accordion" id="ccReleasesButton">Releases</button>
                        <div class="panel"><p id="ccReleases"></p></div>
                    </div>
                    <div class="row">
                        <button class="accordion" id="ccRelIgnoredButton" style="display: none">Ignored links
                        </button>
                        <div class="panel"><p id="ccRelIgnored" style="display: none"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


##                <div class="tab-pane fade" id="filter-box" role="tabpanel" aria-labelledby="filter-tab">
##                    <div class="filterOptions">
##                        <h5>Status</h5>
##                        <span style="color: #4a6685">
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" id="todos-toggle">
##                                <strong>To-Do:</strong>
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Open"/>
##                                Open
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Reported"/>
##                                Reported
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Accepted"/>
##                                Accepted
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Reopened"/>
##                                Reopened
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="To Do"/>
##                                To Do
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Blocked"/>
##                                Blocked
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Need More Info"/>
##                                Need More Info
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="ToDoStatus" type="checkbox" checked="checked" value="Waiting 3rd party"/>
##                                Waiting 3rd party
##                            </label>
##                        </span>
##                        <br>
##
##                        <span style="color: #ffd351">
##                            <label>
##                                <input name="ProgStatus" type="checkbox" checked="checked" value="In Progress">
##                                <strong>In Progress</strong>
##                            </label>
##                        </span>
##                        <br>
##
##                        <span style="color: #14882c">
##                            <label>
##                                <input name="DoneStatus" type="checkbox" id="done-toggle">
##                                <strong>Done:</strong>
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="DoneStatus" type="checkbox" value="Closed"/>
##                                Closed
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="DoneStatus" type="checkbox" value="Done"/>
##                                Done
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="DoneStatus" type="checkbox" value="Rejected"/>
##                                Rejected
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="DoneStatus" type="checkbox" value="Resolved"/>
##                                Resolved
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="DoneStatus" type="checkbox" value="Withdrawn"/>
##                                Withdrawn
##                            </label>
##                        </span>
##                        <br>
##                        <span>
##                            <label>
##                                <input name="Status" type="checkbox" checked="checked" value="confidential"/>
##                                Confidential
##                            </label>
##                        </span>
##                        <br>
##                        <span>
##                            <label>
##                                <input id="all-toggle" type="checkbox" checked="checked"/>
##                                <strong> Toggle All Statuses </strong>
##                            </label>
##                        </span>
##                        <br>
##
##                        <h5>Type</h5>
##                        <span>
##                            <label>
##                                <input name="Type" type="checkbox" checked="checked" value="task"/>
##                                 <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/task.png"
##                                      width="20" height="20" alt="task"/> Task
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Type" type="checkbox" checked="checked" value="bug"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/bug.png"
##                                     width="20" height="20" alt="bug"/> Bug
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Type" type="checkbox" checked="checked" value="issue"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/suggestion.png"
##                                     width="20" height="20" alt="suggestion"/> Issue
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Type" type="checkbox" checked="checked" value="epic"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/epic.png"
##                                     width="20" height="20" alt="epic"/> Epic
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Type" type="checkbox" checked="checked" value="user_story"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/user-story.png"
##                                     width="20" height="20" alt="user-story"/> User Story
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Type" type="checkbox" checked="checked" value="suggestion"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/type/suggestion.png"
##                                     width="20" height="20" alt="suggestion"/> Suggestion
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Type" type="checkbox" checked="checked" value="not specified"/>
##                                not specified
##                            </label>
##                        </span>
##                        <br>
##                        <span>
##                            <label>
##                                <input id="type-toggle" name="Type" type="checkbox" checked="checked"/>
##                                <strong> Toggle All Types </strong>
##                            </label>
##                        </span>
##                        <h5>Priority</h5>
##                        <span>
##                            <label>
##                                <input name="Priority" type="checkbox" checked="checked" value="0"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/0.png"
##                                     width="20" height="20" alt="P0: Blocker"/>P0: Blocker
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Priority" type="checkbox" checked="checked" value="1"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/1.png"
##                                     width="20" height="20" alt="P1: Critical"/>P1: Critical
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Priority" type="checkbox" checked="checked" value="2"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/2.png"
##                                     width="20" height="20" alt="P2: Important"/>P2: Important
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Priority" type="checkbox" checked="checked" value="3"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/3.png"
##                                     width="20" height="20" alt="P3: Somewhat important"/>P3: Somewhat important
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Priority" type="checkbox" checked="checked" value="4"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/4.png"
##                                     width="20" height="20" alt="P4: Low"/>P4: Low
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Priority" type="checkbox" checked="checked" value="5"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/5.png"
##                                     width="20" height="20" alt="P5: Not important"/>P5: Not important
##                            </label>
##                        </span>
##                        <span>
##                            <label>
##                                <input name="Priority" type="checkbox" checked="checked" value="7"/>
##                                <img src="../download/resources/openreq.qt.issuelinkmap-jira-plugin.issuelinkmap-jira-plugin:issuelinkmap-jira-plugin-resources/images/prio/7.png"
##                                     width="20" height="20" alt="Not evaluated"/>Not evaluated
##                            </label>
##                        </span>
##                        <br>
##                        <span>
##                            <label>
##                                <input id="prio-toggle" name="Priority" type="checkbox" checked="checked"/>
##                                <strong> Toggle All Priorities </strong>
##                            </label>
##                        </span>
##                        <br>
##                        <input id="filter-search" type="button" class="button search button-effect"
##                               value="Apply filter"/>
##
##                        <p id="filterOptions"></p>
####                    </div>
##                </div>
##            </div>
##        </div>
##    </div>
##</div>

<script>


</script>
</body>
</html>